//- 
//- - const upCat = cat.toUpperCase();
//- 
//- .wrapper.second-div
//-   p.hello Hello! my name is #{name.toUpperCase()}.
//-   span#cat I have a cat named #{upCat}.
//-   br
//-   img.dog(src='https://i.imgur.com/GdkFHnwb.jpg', alt=`Dog ${dog}` )
//- 
//- 
//- h2 
//-   | Hello Again
//-   em How are you?
//- 

extends layout 

block content
  p Hello
  
block header
  p YOOOOO!
